<ng-table _ngcontent-c11="">
        <table class="table dataTable table-striped table-bordered mb0 d-table-fixed" role="grid" style="width: 100%;">
          <thead>
            <tr role="row">
              <th>
                Molecule
              </th>
              <th>
                Project Count
              </th>
              <th class="office-header text-success">
                Simulation Count
              </th>
              <th>
                Time Step Count(ns)
              </th>
            </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              <input class="form-control" style="width: auto;" placeholder="Filter by molecule">
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
          </tr>
            <tr>
              <td style="padding:1;">
                  <button ng-click="navigateToStudy('bche')" style="height:100%; width:100%;" class="btn btn-primary">BChE</button>
                </td><td>14</td><td>14k</td><td>98000k</td>
            </tr>
            <tr>
              <td style="padding:1;"><button style="height:100%; width:100%;" class="btn btn-primary">COLL</button></td><td>0</td><td>0</td><td>0</td>
            </tr>
            <tr>
              <td style="padding:1;"><button style="height:100%; width:100%;" class="btn btn-primary">PKNOT</button><td>0</td><td>0</td><td>0</td>
            </tr>
            <tr>
              <td style="padding:1;"><button style="height:100%; width:100%;" class="btn btn-primary">RIBO</button></td><td>0</td><td>0</td><td>0</td>
            </tr>
          </tbody>
        </table>
</ng-table>