
<ng-table _ngcontent-c11="" ng-init="retrieveProjectList()">
        <table class="table dataTable table-striped table-bordered mb0 d-table-fixed" role="grid" style="width: 100%;">
          <thead>
            <tr role="row">
              <th>
                Molecule
              </th>
              <th>
                Project Count
              </th>
              <th class="office-header text-success">
                Simulation Count
              </th>
            </tr>
          </thead>
          <tbody>

            <tr ng-repeat="study in studies">
              <td>
                <button ng-click="navigateToStudy(study.projects)" style="height:100%; width:100%;" class="btn btn-primary">{$ study.molecule $}</button>
              </td>
              <td>
                {$ study.projectCount $}
              </td>
              <td>
                {$ study.simCount $}
              </td>
            </tr>

          </tbody>
        </table>
</ng-table>